
style {
	background-position: center;
	background-size: auto;
	background-attachment: fixed;
	margin-top: 0px;
	padding: 0px;
	border-width: 0px;
	
	
}

.title {
	text-align: center;
	font-size: x-large;
	color: gold
}

footer {
	text-align: center;
	color: gold;
}

section {
	text-align: center;
	color: gold;
	height: 1000px;
}






