
style {
	background-position: center;
	background-size: auto;
	background-attachment: fixed;
	margin-top: 0px;
	padding: 0px;
	border-width: 0px;
}

.title {
	text-align: center;
	text-justify: distribute-all-lines;
	font-size: x-large;
	color: gold;
	height: 250px;	
}

footer {
	text-align: center;
	color: gold;
}

.description {
	text-align: center;
	color: gold;
	height: 500px;
}








