body {
	background: url(images/bg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.title {
	text-align: center;
	font-size: xx-large;
	color: gold;
	height: 50px;	
}

footer {
	text-align: center;
	color: gold;

}


.description {
	text-align: center;
	color: gold;
	height: 300px;
	font-size: x-large;
}

.demo {
	text-align: center;
	color: rgb(124, 4, 52);
	font-size: x-large;
}

/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
	position: fixed;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
  }
  
  /* Style the icon bar links */
  .icon-bar a {
	display: block;
	text-align: center;
	padding: 16px;
	transition: all 0.3s ease;
	color: white;
	font-size: 20px;
  }
  
  /* Style the social media icons with color, if you want */
  .icon-bar a:hover {
	background-color: #000;
  }
  
  .instagram {
	background: #db09ca;
	color: rgb(253, 253, 253);
  }



  body {
    text-align: center;
    font-family: sans-serif;
    margin: 0;
}

 /* Style modal */

.modal {
    width: 100%;
    height: 100%;
	background: rgba(0,0,0,0.8);
	overflow: auto;
    
    position: fixed;
    top: 0;
	left: 0;
    
    display: flex;
    
    animation: modal 1s 1s forwards;
    visibility: hidden;
    opacity: 0;
}

.contenido {
    margin: auto;
    width: 40%;
    height: 40%;
    background-image: url(images/bg.jpg);
	border-radius: 10px;
	color: gold;
}

#cerrar {
    display: none;
}

#cerrar + label {
    position: fixed;
    color: rgb(255, 255, 255);
    font-size: 25px;
    z-index: 50;
    background: darkred;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    right: 150px;
    top: 150px;
    cursor: pointer;
    
    animation: modal 2s 3s forwards;
    visibility: hidden;
    opacity: 0;
}

#cerrar:checked + label, #cerrar:checked ~ .modal {
    display: none;
}

@keyframes modal {
    100% {
        visibility: visible;
        opacity: 1;
    }
}